<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689736473174-oshk9u05on3gem5lrrhlis0ktm304uuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689736473174-oshk9u05on3gem5lrrhlis0ktm304uuf</string>
	<key>API_KEY</key>
	<string>AIzaSyASUVymL0ps9VEm6ZAmVWWpIRK7DQU7TJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>689736473174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.ana.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-7eb7b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-7eb7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689736473174:ios:325a48e1c995c37fe7f9f7</string>
</dict>
</plist>